<div class="container">
    <div class="row">

        <p class="btnO" style="margin-top: 20px; text-align: center;">Pas de produit sélectionné.</p>
        <p class="btnH" style="margin-top: 20px; text-align: center;">Ajoute le à ton panier !</p>

        <ng-container *ngFor="let item of productlist">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Prix: </strong>{{item.price|currency:'EUR'}}</p>
                <button class="btn btn-dark"(click)="addtocart(item)">Ajouter au panier</button>
            </div>
        </ng-container>
    </div>
</div>