<header>
    <div class="navbar navbar-dark bg-light shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Xiaomi_logo.svg/1200px-Xiaomi_logo.svg.png" routerLink="/products" style="width: 50px; margin-left: 62px;" alt="">
        </div>

        <button class="btn btn-light" style="margin-right: 62px;">
            <i style="font-size: 30px" routerLink="/cart" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px" class="badge bg-dark">{{totalitem}}</div>
        </button>
    </div>
</header>